*{
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
a, p, li{
    font-size: 30px;

}
li:hover{
    border: 2px solid aliceblue;
}
main{
    gap: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}
h1{
    text-align: left;
}