*{
    margin: 0;
    padding: 0;
}
.test{
    color: blue;
    cursor: pointer;
}


.box{
    padding: 20px;
    background-color: red;
    width: 110px;
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue;
}
.container{
    display: flex;
    align-items: center;
}