/* mobile devcies */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}