* {
  margin: 0;
  padding: 0;
}
.nav-header {
  margin-bottom: 30px;
  box-shadow: 3px 3px 20px gray;
}
header > nav > ul {
  justify-content: center;
  display: flex;
  padding: 30px 20px;
  background-color: blueviolet;
}
header > nav > ul > li {
  /* display: inline; */
  list-style-type: none;
  margin-right: 20px;
  padding: 10px;
  /* padding-inline-start: ; */
}
ul > li > a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
ul>li:hover> ul{
    display: block;

}
ul>li>ul{
    color: black;
    padding: 20px;
    background-color: blanchedalmond;
    margin-top: 10px;
    /* margin-left: 20px; */
   display: none;
   position: absolute;
}
ul>li>ul>li{
    padding: 10px 0px;    list-style: none;
}
ul>li>ul>li>a{
    color: black;
}
header > a:hover {
  cursor: pointer;
}
