.header {
  height: 300px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQIvuA0qPcBWVHEGYv9YhP5ndEk9I2wW6ufbhUxB6YHQ&s")
    no-repeat;
  background-size: cover;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: url("https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_1280.jpg");
}

header > h2 {
  text-transform: capitalize;
  background: url("https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_1280.jpg");
  background-clip: text;
  background-color: transparent;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 30px;
  text-decoration: overline;
  font-family: "Courier New", Courier, monospace;
}
.blog {
  text-align: justify;
  margin: 20px;
  border-top: 10px solid tomato;
  box-shadow: 1px 1px 40px lightgrey;
  border-radius: 10px;
  padding: 10px 20px;
}
.second {
}
.incident {
  border: 2px solid purple;
}
