/* common shared styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  cursor: pointer;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  line-height: normal;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  margin-bottom: 0;
  font-size: 45px;
  color: #474747;
}
.banner-title {
  margin-top: 5px;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 20px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
  margin-top: 130px;
}

/* about section styles */

.about {
  padding: 130px;
  border-radius: 10px;
  background-color: #fff8f3;
}
.about-info-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.info-title {
    font-weight: lighter;
}
.info-description{
    font-weight: bolder;
}


/* What i do */
#what-i-do-description{
  padding: 30px 150px;
}
.skills-container{
  gap: 40px;
  margin-top: 80px;
  display: flex;
}
.skill{
  border-radius: 5px;
  padding: 30px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  background-color: #fff;
}

.skill-description{
  color: #757575;
}


/* Resume */
.resume-column-title{
  color: #474747;
  font-size: 30px;

}
.resume-container{
  margin: 0px 50px;
  display: flex;
  gap: 70px;
}
.resume-item-title{
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-institute{
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-item-description,
.resume-item-institute{
  color: #757575;
}
.resume-container hr{
  margin: 30px 0px;
}
.download-cv{
  text-align: center;
  margin-top: 50px;
}