/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
color: #181818;
font-size: 45px;
line-height: normal;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}