/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* reseting */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato";
}
/* Shared Styles */
.title {
  text-align: center;
  font-size: 28px;
  color: #272727;
}
.btn {
    display: block;
    padding: 15px 43px;
    border: none;
    background-color: #e55473;
    color: white;
    border-radius: 9px;
  }
  .color-pink{  
    color: #e55473;

  }
/* Banner Section style */
header {
  display: flex;
  justify-content: center;
  background-color: #fceef1;
  width: 100vw;
}
.banner-container {
  align-items: center;
  padding: 50px 240px 0px 240px;
  display: flex;
}
.banner-info {
}
.banner-info > h1 {
  color: #272727;
  font-size: 50px;
}
.banner-info > p {
  margin: 30px 0px;
}
.banner-img {
  width: 400px;
}

/* Featured flower */

.featured-flower-container {
    margin: 0 auto;
    width: 800px;
  margin-top: 150px;
}
.featured-flower-desc {
  margin: 20px auto;
  text-align: center;
  width: 40%;
  color: rgba(39, 39, 39, 0.6);
}
.flowers {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.flower {
}

.flower > img {
  border-radius: 150px 150px 0px 0px;
  padding: 50px 20px 0px 20px;
  height: 300px;
  width: 200px;
}
.flower > .flower-title {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  counter-reset: #272727;
  font-weight: 700px;
}

.flower-1 {
  background: rgba(167, 33, 98, 0.15);
}
.flower-2 {
  background: rgba(5, 151, 160, 0.15);
}
.flower-3 {
  background: rgba(71, 125, 17, 0.15);
}

/* About section */
.about-us {
    width: 760px;
    margin: 60px auto;
    padding: 20px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.about {
  text-align: center;
}
.about-img {
  width: 50px;
}
.about-title{
    font-size: 14px;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.80);
}
/* discount section */
.discount-container{
    gap: 20px;
    padding:  40px 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.discount-left .btn{
    margin: 0 auto;
}
.discount-right img{
    width: 200px;
}
.discount-desc{
    text-align: center;
    margin: 20px 0px;
    color: rgba(39, 39, 39, 0.60);
}

/* social */
.social-container{
  margin-top: 150px;
}
.social-flowers{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.social-flowers img{
  width: 250px;
}
/* order now */
.order-now-container{
  background-color: #fceef1;
  padding: 50px;
  margin-top: 150px;
}
.order-now-container > form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.order-now-container form input, textarea{
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  width: 500px;
  padding: 20px 25px;
}
.order-detail{
  display: flex;
  width: 550px;
  gap: 20px;
}
.order-detail input[type="text"]{
  width: 400px;
}
.order-detail input[type="number"]{
  width: 100px;
}
textarea{
  height: 200px;
}
/* get latest */
.latest-deals-container{
  margin: 0 auto  ;
  width: 800px;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  background: url('../assets/Rectangle_9.png') no-repeat;
}
.latest-deals-inputs{
  display: flex;
  gap: 20px;
}
.latest-deals-inputs input[type="text"]{
  width: 600px;
  padding-left: 20px;
  border: none;
}

/* footer section */

.footer-container{
  margin-top: 150px;
  padding: 120px;
  background: #111010;
  color: white;
}
.footer-container h3{
  color: white;

}
.footer-container p{
  color: rgba(255, 255, 255, 0.90);

}
.footer-container .copyright{
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
}