h1{
    color: lightcoral;
}
.yellow-bg{
    background-color: yellowgreen !important;
    text-align: center;
}
.yellow-bg li{
    list-style: none;
    color: black;
}
.large-text{
    font-size: 2em;
}