/* fonts linke */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins:wght@400;600;700&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #3a3a3a;
  --btn-color: #E02C6D;
}
body {
  font-family: "Poppins";
}
.btn-primary{
    padding: 10px 20px ;
    border: none;
    background-color: var(--btn-color);
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
    margin-top: 20px;
font-weight: 700;
line-height: normal;
}

/* nav styles */
nav {
  color: var(--primary-color);
  padding: 50px 100px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
nav h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.5rem;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav ul li {
  list-style: none;
}
nav a {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1rem;
  text-decoration: none;
}

/* banner section */
.banner-container {
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  display: flex;
}
.banner-content h2 {
  color: var(--primary-color);
  font-size: 3.25rem;
  font-weight: 700;
}
.banner-content p {
  width: 70%;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
}
.banner-content .btn-primary{
    border-radius: 20px;
}
.banner-img{
  position: relative;
  width: 400px;
  height: 350px;
    border: 1px solid lightgray;
    border-radius: 50%;
}
.banner-img-inner{
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-15%, -15%);
    background-color: lightgray;
    width: 250px; 
    height: 250px;
    z-index: -10;
    border-radius: 50%; 
}
.banner-container .banner-img img {
  margin: 20px;
  z-index: 20;
  width: 90%;
}

/* sponsors */
.sponsors{
  gap: 50px;
  flex-wrap: wrap;
  padding: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}