*{
    margin: 0;
    padding: 0;
}
.nav-container{
    align-items: center;
    display: flex;
    background-color: black;
    padding: 20px 10px;
    justify-content: space-around;
    box-shadow: 0px 13px 13px 13px black;
}
.menus{
    color: white;
    list-style: none;
    display: flex;
    font-size: 20px;
    font-style: italic;
    gap: 15px;
}
.menus > li{
    cursor: pointer;
}
.banner-container{
    height: 100vh;
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-container h1{
    text-align: center;
    width: 400px;
    font-size: 50px;
    color: white;
}
h1> span{
    color: red;
}
.banner-container p{
    font-size: 20px;
    margin: 30px 0px;
    width: 600px;
    color: white;
    text-align: center;
}
.btn-container{
    display: flex;
    gap: 20px;
}
.btn-red, .btn-white{
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer ;

}
.btn-red{
    background-color: red;
    color: white;
    border: none;
}
.btn-round{
    border-radius: 20px;
}

/* main */
main{
    position: relative;
}
/* Service  */

.service-container{
    
    padding-bottom: 80px;
    height: 100vh;
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightgray;
}
.left-side-container{
    width: 50%;
    margin-left: 80px;
}
.left-side-container h1{
    margin: 10px 0px;
}
.left-side-container p{
    margin-bottom: 10px;
}
.left-side-container > h1 > span{
    color: red;
}
.left-side-container> ol{
    margin-left: 40px;
}
.right-side-container{
    width: 50%;
    
}
.icon{
    width: 70px;
}
.all-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 150px;
    height: 150px;
    padding: 50px;
    background-color: white;
    color: black;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.author-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.author-container::after{
    content: '';
    height: 40px;
    width: 2px;
    background-color: red;
    position: absolute;
}
.profile-container{
    gap: 10px;
    display: flex;
    align-items: center;
}

/* Appointment Section */
.appointment-container{
    gap: 30px;
    bottom: -80px;
    position: absolute;
    border-radius: 10px;
    justify-content: space-evenly;
    color: white;
    padding: 50px;
    margin: 0px 200px;
    background-color: red;
    display: flex;
    align-items: center;
}
.appointment-desc{
    width: 35%;
}
.phone-cell{
    display: flex;
    align-items: center;
}
.phone-cell h6{
    font-size: 20px;
    margin-left: 20px;
}
.phone-cell > h6 > small{
    font-size: 12px;
}
.appointment-container .btn-white{
    border-radius: 40px;
    border: none;
}